.section-ft {
    text-align: center;
}

.img-footer {
    display: inline-block;
    width: 300px;
    padding: 60px 0;
}

.p-footer {
    color: gray;

}

.color-yl {
    color: #FFC96B;
}

.list-footer {
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
    display: flex;
    color: #FFC96B;
}