header {

    background-image: url(/public/img/HelloIMG1669149393797.jpeg);
    background-size: cover;
    color: white;
    height: 600px;

}

.container-lg .row {
    justify-content: space-between;


}

.header-1 {
    padding: 30px 15px
}

.container-lg .lista-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.row .img-1 {
    width: 200px;


}



.title-header {
    font-size: 60px;
    margin-bottom: 10px;
}

.section-header {
    text-align: center;
    margin-top: 150px;
}

.button-mission {
    background-color: transparent;
    padding: 0 20px;
    min-height: 40px;
    color: white;
    border: 2px solid white;
    padding: 0 30px;
}

.button-donate {
    background-color: transparent;
    padding: 0 20px;
    min-height: 40px;
    color: #FFC96B;
    border: 2px solid #FFC96B;
    padding: 0 30px;
}

.button-header {
    gap: 20px;
    justify-content: center;
    display: flex;
    padding-right: 20p;
    margin-top: 20px;
}