* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;

}

a {
    text-decoration: none;
    color: currentColor;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.container-md {
    max-width: 1200px;
    margin: 0 auto;
}

.container-lg {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: none;
    background-color: transparent;
}

.button-inizia {
    padding: 0 40px;
    background-color: #FFC96B;
    color: white;
    min-height: 40px;
}